<div class="container">
  <form class="search-form" id="search-form">
    <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
    <button type="submit">
      <svg class="search-form__icon" width="25" height="25">
        <use href="./images/magnifying-glass.svg#icon-magnifying-glass-svgrepo-com"></use>
      </svg>
    </button>
  </form>
</div>
<div class="gallery"></div>

<div class="btn-style">
  <button type="button" class="load-more">Load more</button>
</div>